<template>
  <Row>
    <div v-if="isBasePlan" class="col s12">
      <h4 class="center">Введите наименование кафедры</h4>
      <TextFieldDiv 
        labelText="Кафедра"
        :value="cathedra"
        :valid="cathedraValid"
        :inputHandler="cathedraHandler"
        :size="12"
      />
    </div>
    <div class="col s12">
      <div class="center">
        <h4>Выберите файл для добавления</h4>
        <h6>{{this.additionalMsg}}</h6>
      </div>
      <FileInput class="fileInputBtnMargin" :changeHandler="onFileAdd"/>
    </div>
    <Button :clickHandler="onSubmit">Отправить</Button>
  </Row>
</template>

<script>
import { mapActions } from 'vuex';
import { basePlanAddMsg, generatedPlanAddMsg } from 'config/admin.js';
export default {
  data() {
    return {
      cathedra: '',
      cathedraValid: true,
      file: {}
    }
  },
  props: {
    planType: {
      type: String,
      default: ''
    }
  },
  computed: {
    additionalMsg() {
      return this.planType === 'base' ? basePlanAddMsg : generatedPlanAddMsg;
    },
    isBasePlan() {
      return this.planType === 'base';
    }
  },
  methods: {
  	onFileAdd(e) {
      this.file = e.target.files[0];
  	},
    onSubmit(e) {
      let { file, cathedra, cathedraValid } = this;
      this.isBasePlan && this.checkCathedra();
      if (file.name) {
        if (cathedraValid) {
          this.uploadPlan({file, planType: this.planType, cathedra: this.cathedra});
        }
      } else {
        alert('Необходимо выбрать файл перед отправкой!');
      }
    },
    checkCathedra() {
      if (!this.cathedra) {
        this.cathedraValid = false;
        alert('Необходимо заполнить поле "Кафедра"');
      }
    },
    cathedraHandler({e}) {
      if (!this.cathedraValid) {
        this.cathedraValid = true;
      }
      this.cathedra = e.target.value;
    },
    ...mapActions(['uploadPlan'])
  }
}
</script>
<style>
  .fileInputBtnMargin {
    margin: 20px 0 20px 0;
  }
</style>