<template>
  <div>
    <Row>
      <div class="col s12">
        <table v-if="hasPlans" class="highlight responsive-table">
          <thead>
            <tr>
              <th>№</th>
              <th>Наименование</th>
              <th>Управление</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(plan, index) in plans" :key="`planRow${index}`">
              <td>{{index + 1}}</td>
              <td>{{plan}}</td>
              <td><Button>Удалить</Button></td>
            </tr>
          </tbody>
        </table>
        <h5 class="center-align" v-else>{{this.noPlansMsg}}</h5>
      </div>
    </Row>
  </div>
</template>

<script>
export default {
  props: {
    plans: {
      type: Object,
      default: () => ([])
    },
    planType: {
      type: String,
      default: ''
    }
  },
  computed: {
    hasPlans() {
      return this.plans.length > 0;
    },
    noPlansMsg() {
      return this.planType === 'generated' ? 'Сформированные планы отсутствуют' : 'Планы отсутствуют';
    }
  },
  methods: {
    deletePlan() {
      console.log('delete plan');
    }
  }
}
</script>
