<template>
  <div>
    <Button
      fullWidth
      :clickHandler="addBtnHandler"
    >
      Добавить курс
    </Button>
    <table class="highlight responsive-table">
      <thead>
        <tr>
          <th>Наименование курса</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(course, index) in additionalCourses">
          <td>
            <TextField
              :value="course"
              :inputHandler="courseInputHandler"
              :index="index"
            />
          </td>
          <td class="center">
            <i class="material-icons icon-pointer" :data-index="index" @click="removeBtnHandler">clear</i>
          </td>
        </tr>
      </tbody>
    </table>
    <Button :clickHandler="saveBtnHandler">Сохранить изменения</Button>
  </div>
</template>

<script>
export default {

  name: 'AdditionalCoursesForm',
  props: {
    additionalCourses: {
      type: Array,
      default: () => []
    },
    saveBtnHandler: {
      type: Function,
      default: () => {}
    },
    addBtnHandler: {
      type: Function,
      default: () => {}
    },
    removeBtnHandler: {
      type: Function,
      default: () => {}
    },
    courseInputHandler: {
      type: Function,
      default: () => {}
    }
  }
}
</script>
