<template>
  <div>
    <Button
      fullWidth
      :clickHandler="addBtnHandler">
      Добавить научного руководителя
    </Button>
    <table class="highlight responsive-table">
      <thead>
        <tr>
          <th>ФИО</th>
          <th colspan="1">Должность</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(scienceLeader, index) in scienceLeaders">
          <td>
            <TextField
              :value="scienceLeader.name"
              :index="index"
              :inputHandler="scienceLeaderNameInputHandler"
            />
          </td>
          <td colspan="2">
            <TextField
              :value="scienceLeader.position"
              :index="index"
              :inputHandler="scienceLeaderPositionInputHandler"
            />
          </td>
          <td class="center">
            <i class="material-icons icon-pointer" @click="removeBtnHandler" :data-index="index">clear</i>
          </td>
        </tr>
      </tbody>
    </table>
    <Button :clickHandler="saveBtnHandler">Сохранить изменения</Button>
  </div>
</template>

<script>
export default {
  props: {
    scienceLeaders: {
      type: Array,
      default: () => []
    },
    scienceLeaderNameInputHandler: {
      type: Function,
      default: () => {}
    },
    scienceLeaderPositionInputHandler: {
      type: Function,
      default: () => {}
    },
    addBtnHandler: {
      type: Function,
      default: () => {}
    },
    removeBtnHandler: {
      type: Function,
      default: () => {}
    },
    saveBtnHandler: {
      type: Function,
      default: () => {}
    }
  }
}
</script>
