<template>
  <div>
    <Row>
      <div class="col s12">
        Текст заголовка шаблона плана
        <TextArea labelText="Текст заголовка шаблона плана"/>
      </div>
    </Row>
    <Button>Сохранить изменения</Button>
  </div>
</template>

<script>
export default {

  name: 'StaticTemplatesForm',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>