<template>
  <div>
    <Row>
      <div class="col s12">
        <CheckBox id="qwe" labelText="Отключить главную форму ввода" />
      </div>
    </Row>
    <Row>
      <div class="col s12">
        <CheckBox id="qwe1" labelText="Отключить формирование дисциплин по выбору" />
      </div>
    </Row>
    <Row>
      <div class="col s12">
        <CheckBox id="qwe2" labelText="Отключить формирование дополнительных курсов" />
      </div>
    </Row>
    <Button>Сохранить конфигурацию</Button>
  </div>
</template>

<script>
export default {

  name: 'SystemConfigurationForm'
}
</script>

<style lang="css" scoped>
</style>