<template>
  <div>
    <AdditionalCoursesForm 
      :additionalCourses="additionalCourses"
      :saveBtnHandler="saveJsonConfiguration"
      :courseInputHandler="additionalCourseInputHandler"
      :addBtnHandler="additionalCourseAddHandler"
      :removeBtnHandler="removeCourse"
    />
  </div>
</template>

<script>
import AdditionalCoursesForm from 'components/admin/AdminActions/AdditionalCoursesForm.vue';
import { mapState, mapMutations, mapActions } from 'vuex';
export default {

  name: 'AdditionalCourses',
  props: {
    additionalCourses: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    removeCourse(e) {
      this.additionalCourseRemoveHandler(e.target.dataset.index);
    },
    ...mapMutations(['additionalCourseInputHandler', 'additionalCourseAddHandler', 'additionalCourseRemoveHandler']),
    ...mapActions(['saveJsonConfiguration'])
  },
  components: {
    AdditionalCoursesForm
  }
}
</script>