<template>
  <div>
    <div v-if="formState === 'index'">
      <Button fullWidth :clickHandler="addPlan">Добавить</Button>
      <PlansList :plans="plans" :planType="planType" />
    </div>
    <div v-else>
      <AddPlan :planType="planType"/>
      <Button :clickHandler="showPlansList">Назад</Button>
    </div>
  </div>
</template>

<script>
import PlansList from 'components/admin/AdminActions/Plans/PlansList.vue';
import AddPlan from 'components/admin/AdminActions/Plans/AddPlan.vue';
export default {
  data() {
    return {
      formState: 'index'
    }
  },
  props: {
    plans: {
      type: Object,
      default: () => ({})
    },
    planType: {
      type: String,
      default: ''
    }
  },
  methods: {
    addPlan() {
      this.formState = 'add';
    },
    showPlansList() {
      this.formState = 'index';
    }
  },
  components: {
    PlansList,
    AddPlan
  }
}
</script>

<style>

</style>
