<template>
  <div>
    <ScienceLeadersForm
      :scienceLeaders="scienceLeaders"
      :saveBtnHandler="saveJsonConfiguration"
      :scienceLeaderNameInputHandler="scienceLeaderNameInputHandler"
      :scienceLeaderPositionInputHandler="scienceLeaderPositionInputHandler"
      :addBtnHandler="scienceLeaderAddHandler"
      :removeBtnHandler="removeScienceLeader"
    />
  </div>
</template>

<script>
import ScienceLeadersForm from 'components/admin/AdminActions/ScienceLeadersForm.vue';
import { mapState, mapMutations, mapActions } from 'vuex';
export default {
  props: {
    scienceLeaders: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    scienceLeaderNameInputHandler({index, e}) {
      this.scienceLeaderInputHandler({type: 'name', index, e});
    },
    scienceLeaderPositionInputHandler({index, e}) {
      this.scienceLeaderInputHandler({type: 'position', index, e});
    },
    removeScienceLeader(e) {
      this.scienceLeaderRemoveHandler(e.target.dataset.index);
    },
    ...mapActions(['saveJsonConfiguration']),
    ...mapMutations(['scienceLeaderInputHandler', 'scienceLeaderAddHandler', 'scienceLeaderRemoveHandler'])
  },
  components: {
    ScienceLeadersForm
  }
}
</script>