<template>
  <div>
    <StaticTemplatesForm />
  </div>
</template>

<script>
import StaticTemplatesForm from 'components/admin/AdminActions/StaticTemplatesForm.vue';
export default {

  name: 'StaticTemplates',
  components: {
    StaticTemplatesForm
  }
}
</script>

<style lang="css" scoped>
</style>