<template>
  <div>
    <SystemConfigurationForm />
  </div>
</template>

<script>
import SystemConfigurationForm from 'components/admin/AdminActions/SystemConfigurationForm.vue';
export default {

  name: 'SystemConfiguration',
  components: {
    SystemConfigurationForm
  }
}
</script>

<style lang="css" scoped>
</style>