<template>
  <div>
    <Row>
      <div class="col s12 center">
        <h4>Дополнительные курсы(факультативы)</h4>
        <h5>Заполнять при необходимости</h5>
        <hr>
      </div>
    </Row>
    <Row v-for="i in 5" :key="`additionalCourse${i}`">
      <SelectField
        :id="`additionalCourseSelect${i}`"
        :index="i"
        :labelText="`Дополнительный курс ${i}`"
        :options="courseOptions"
        :size="12"
        :changeHandler="courseHandler"
      />
    </Row>
  </div>
</template>

<script>
export default {
  props: {
    courseOptions: {
      type: Array,
      default: () => []
    },
    courseHandler: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style>

</style>
