<template>
  <div>
    <Row v-for="(field, i) in data" :key="i">
        <TextFieldDiv
          v-if="field.type === 0"
          :index="i"
          :size="12"
          :labelText="field.name"
          :disabled="field.disabled"
          :valid="field.valid"
          :value="field.value"
          :inputHandler="inputHandler"
        />
        <SelectField
          v-if="field.type === 1"
          :id="field.id"
          :index="i"
          :size="12"
          :options="selectOptionsHandler(field)"
          :labelText="field.name"
          :valid="field.valid"
          :changeHandler="selectChangeHandler(field)"
        />
      </Row>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      default: () => []
    },
    selectChangeHandler: {
      type: Function,
      default: () => {}
    },
    selectOptionsHandler: {
      type: Function,
      default: () => {}
    },
    inputHandler: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style>

</style>
