<template>
  <div>
    <div class="col s12 center-align">
        <h4>Дисциплины по выбору:</h4>
        <hr>
    </div>
    <Row v-for="(field, i) in variableDisciplines" :key="`radio${i}`">
      <div v-if="field.leaderChose">
        <RadioButton
          :id="field.id"
          :groupName="field.groupName"
          :checked="field.checked"
          :changeHandler="discipsHandler"
          :index="i"
          :size="5"
        >
          {{field.leaderChoseName}}
        </RadioButton>
        <TextFieldDiv
            :index="i"
            :inputHandler="discipsHandler"
          />
      </div>
      <RadioButton
        v-else
        :id="field.id"
        :groupName="field.groupName"
        :checked="field.checked"
        :changeHandler="discipsHandler"
        :index="i"
        :size="12"
      >
        {{field.name}}
      </RadioButton>
    </Row>
  </div>
</template>

<script>
export default {
  props: {
    variableDisciplines: {
      type: Array,
      default: () => []
    },
    discipsHandler: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style>

</style>
