<template>
  <Row>
    <Button fullWidth colorClass="teal lighten-1" :clickHandler="actionClick">
      {{title}}
    </Button>
  </Row>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    clickHandler: {
      type: Function,
      default: () => {}
    }
  },
  methods: {
    actionClick() {
      this.clickHandler(this.id);
    }
  }
}
</script>

<style>

</style>
