<template>
  <div :class="wrapperClass">
    <a
      :class="btnClass"
      @click="clickHandler"
    >
      <slot>Кнопка</slot>
    </a>
  </div>
</template>

<script>
export default {
  props: {
    size: {
      type: Number,
      default: 4
    },
    offset: {
      type: Number,
      default: 0
    },
    clickHandler: {
      type: Function,
      default: () => {}
    },
    fullWidth: {
      type: Boolean,
      default: false
    },
    colorClass: {
      type: String,
      default: ''
    },
    addClasses: {
      type: String,
      default: ''
    }
  },
  computed: {
    btnSize() {
      return this.fullWidth ? 12 : this.size;
    },
    wrapperClass() {
      return `col s${this.btnSize} ${this.offset && 'offset-s' + this.offset || ''} ${this.fullWidth && 'btn-fullWidth' || ''} ${this.addClasses}`
    },
    btnClass() {
      return `waves-effect waves-light btn ${this.colorClass || ''}`
    }
  }
}
</script>

<style>
  .btn-fullWidth a {
    width: 100% !important;
  }
</style>
