<template>
  <div>
    <input :id="id" type="checkbox" />
    <label :for="id">{{labelText}}</label>
  </div>
</template>

<script>
export default {

  name: 'CheckBox',
  props: {
    id: {
      type: String,
      default: ''
    },
    labelText: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="css" scoped>
</style>