<template>
  <div>
  	<label class="fileInput waves-effect waves-light btn ">
      <span class="left">Выбрать файл</span>
      <i class="right material-icons">insert_drive_file</i>
      <input type="file" @change="onChange"/>
    </label>
    <strong v-if="selectedFile">Выбранный файл: {{selectedFile}}</strong>
    <strong v-else>Файлы для загрузки отсутствуют</strong>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selectedFile: ''
    };
  },
  props: {
    changeHandler: {
      type: Function,
      default: () => {}
    }
  },
  methods: {
    onChange(e) {
      this.selectedFile = e.target.files[0] && e.target.files[0].name || '';
      this.changeHandler(e);
    }
  }
}
</script>

<style lang="css" scoped>
.fileInput input[type="file"] {
  display: none;
}
</style>