<template lang="html">
  <div :id="id" class="modal">
    <div class="modal-content">
      <h4>
        <slot name="header">Modal Header</slot>
      </h4>
      <p>
        <slot name="body">Modal Body</slot>
      </p>
    </div>
    <div class="modal-footer">
      <slot name="footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" @click="closeHandler">OK</a>
      </slot>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    $('.modal').modal();
  },
  watch: {
    show(showModal) {
      if (showModal) {
        $(`#${this.id}`).modal('open');
      } else {
        $(`#${this.id}`).modal('close');
      }
    }
  },
  props: {
    id: {
      type: String,
      default: ''
    },
    show: {
      type: Boolean,
      default: false
    },
    closeHandler: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style lang="css">
</style>
