<template>
  <Row>
      <div class="col s12">
        <nav class="teal darken-1">
            <div class="nav-wrapper">
              <i
                v-show="showHomeBtn"
                class="brand-logo homeBtn material-icons"
                @click="onHomeBtnClick"
              >
                home
              </i>
              <div>
                <span class="flow-text center-align navTitle truncate">{{this.title}}</span>
              </div>
            </div>
        </nav>
      </div>
  </Row>
</template>

<script>
export default {
  data () {
    return {

    }
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    showHomeBtn: {
      type: Boolean,
      default: false
    },
    onHomeBtnClick: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style lang="css">
  .homeBtn {
    margin-left: 10px;
    cursor: pointer;
  }
  .navTitle {
    font-weight: 900;
  }
</style>