<template>
  <div :class="wrapperClass">
    <input
      :id="id"
      type="radio"
      :name="groupName"
      :checked="checked"
      @change="onChangeHandler"
    />
    <label :for="id">
      <slot></slot>
    </label>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      default: ''
    },
    groupName: {
      type: String,
      default: ''
    },
    size: {
      type: Number,
      default: 4
    },
    offset: {
      type: Number,
      default: 0
    },
    checked: {
      type: Boolean,
      default: false
    },
    changeHandler: {
      type: Function,
      default: () => {}
    },
    index: {
      type: Number,
      default: 0
    }
  },
  computed: {
    wrapperClass() {
      return `col s${this.size} ${this.offset && 'offset-s' + this.offset || ''}`
    }
  },
  methods: {
    onChangeHandler() {
      this.changeHandler({index: this.index});
    }
  }
}
</script>

<style>

</style>
