<template>
  <div :class="fullClass">
    <slot></slot>
  </div>
</template>
<script>
export default {

  name: 'Row',

  data () {
    return {

    };
  },
  props: {
    addClass: {
      type: String,
      default: ''
    }
  },
  computed: {
    fullClass() {
      return `row ${this.addClass}`
    }
  }
};
</script>