<template>
  <div :class="wrapperClass" :id="wrapperId">
    <select :id="id" :disabled="disabled">
      <option value="" disabled :selected="value === -1">{{defaultOptionText}}</option>
      <option v-for="(value,i) in options" :value="i" :key="i">{{value}}</option>
    </select>
    <label :for="id">{{labelText}}</label>
  </div>
</template>

<script>
export default {

  name: 'SelectField',

  data () {
    return {

    }
  },

  mounted () {
    let selectID = `#${this.id}`;
    $(selectID).material_select();
    $(selectID).on('change', this.onChangeHandler);
  },
  watch: {
    valid(newVal, oldVal) {
      if (!newVal) {
        $(`#${this.wrapperId} .select-dropdown`).addClass('invalid');
      } else {
        $(`#${this.wrapperId} .select-dropdown`).removeClass('invalid');
      }
    }
  },

  props: {
    id: {
      type: String,
      default: '',
      required: true
    },
    className: {
      type: String,
      default: ''
    },
    inline: {
      type: Boolean,
      default: false
    },
    size: {
      type: Number,
      default: 4
    },
    offset: {
      type: Number,
      default: 0
    },
    labelText: {
      type: String,
      default: ''
    },
    defaultOptionText: {
      type: String,
      default: 'Выберите из списка'
    },
    options: {
      type: Array,
      default: () => []
    },
    value: {
      type: Number,
      default: -1
    },
    disabled: {
      type: Boolean,
      default: false
    },
    valid: {
      type: Boolean,
      default: true
    },
    index: {
      type: Number,
      default: 0
    },
    changeHandler: {
      type: Function,
      default: () => {}
    }
  },
  methods: {
    onChangeHandler(e) {
      this.changeHandler({index: this.index, e});
    }
  },
  computed: {
    wrapperId() {
      return `${this.id}Wrapper`;
    },
    wrapperClass() {
      return `input-field col s${this.size} ${this.offset && 'offset-s' + this.offset || ''} ${this.inline && 'inline' || ''}`;
    },
    selectClass() {
      return `${this.className} ${!this.valid && 'invalid' || ''}`;
    }
  }
}
</script>

<style lang="css" scoped>
</style>
