<template>
  <div>
    <textarea id="textarea1" class="materialize-textarea"></textarea>
    <label for="textarea1">{{labelText}}</label>
  </div>
</template>

<script>
export default {
  name: 'TextArea',
  props: {
    labelText: {
      type: String,
      default: ''
    }
  }
}
</script>