<template>
  <div :class="wrapperClass">
    <input
      type="text"
      :id="id"
      :class="inputClass"
      :disabled="disabled"
      :value="value"
      @input="onInputHandler"
      />
    <label v-if="labelText" :for="id" :class="labelClass">{{labelText}}</label>
  </div>
</template>

<script>
export default {

  name: 'TextFieldDiv',

  data () {
    return {

    };
  },
  props: {
    id: {
      type: String,
      default: ''
    },
    className: {
      type: String,
      default: ''
    },
    inline: {
      type: Boolean,
      default: false
    },
    size: {
      type: Number,
      default: 4
    },
    offset: {
      type: Number,
      default: 0
    },
    labelText: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    },
    inputHandler: {
      type: Function,
      default: () => {}
    },
    index: {
      type: Number,
      default: 0
    },
    valid: {
      type: Boolean,
      default: true
    },
    value: {
      type: String,
      default: ''
    }
  },
  computed: {
    wrapperClass() {
      return `input-field col s${this.size} ${this.offset && 'offset-s' + this.offset || ''} ${this.inline && 'inline' || ''}`;
    },
    inputClass() {
      return `${this.className} ${!this.valid && 'invalid' || ''}`;
    },
    labelClass() {
      return `${this.value && 'active' || ''}`
    }
  },
  methods: {
    onInputHandler(e) {
      this.inputHandler({
        index: this.index,
        e
      });
    }
  }
};
</script>
