<template>
  <div>
    <VariableDisciplines 
      v-if="variableDisciplines.length > 0"
      :discipsHandler="changeHandler"
      :variableDisciplines="variableDisciplines"
    />
    <AdditionalCourses
      v-if="variableDisciplines.length > 0"
      :courseOptions="additionalCourses.options"
      :courseHandler="additionalCourseChangeHandler"
    />
  </div>
</template>

<script>
import {mapState, mapMutations, mapActions} from 'vuex';
import VariableDisciplines from 'components/main/VariableDisciplines.vue';
import AdditionalCourses from 'components/main/AdditionalCourses.vue';
export default {

  name: 'AdditionalInfo',

  data () {
    return {

    };
  },
  props: {
    data: {
      type: Array,
      default: []
    }
  },
  computed: {
    ...mapState(['variableDisciplines', 'additionalCourses'])    
  },
  methods: {
    changeHandler(payload) {
      let {index, e} = payload;
      this.updateVariableDiscipines({index, newName: e && e.target.value});
    },

    additionalCourseChangeHandler(payload) {
      this.updateAdditionalCourses(payload);
    },
    ...mapMutations(['updateVariableDiscipines', 'updateAdditionalCourses'])
  },
  components: {
    VariableDisciplines,
    AdditionalCourses
  }
};
</script>

<style lang="css" scoped>
</style>
