<template>
  <div>
    <header class="center-align">
      <img class="responsive-img" src="~img/stankin-logo.png">
      <p>
        
      </p>
    </header>
    <Row>
      <div class="col s12 center-align">
        <h4>Индивидуальный план работы магистранта</h4>
        <hr>
      </div>
    </Row>
    <GeneralFields 
      :data="data"
      :selectChangeHandler="getSelectFieldHandler"
      :selectOptionsHandler="getSelectFieldOptions"
      :inputHandler="inputHandler"
    />
  </div>
</template>

<script>
import {mapState, mapMutations, mapActions} from 'vuex';
import GeneralFields from 'components/main/GeneralFields.vue';
export default {

  name: 'GeneralInfo',

  data () {
    return {

    };
  },
  props: {
    data: {
      type: Array,
      default: []
    }
  },
  computed: {
    logoImage() {
      return logo;
    },
    ...mapState(['variableDisciplines', 'additionalCourses', 'scienceLeaders', 'programsNames'])
  },
  methods: {
    inputHandler(payload) {
      let {index, e} = payload, value = e.target.value;
      this.updateJsonData({index, value, module: 'generalFields'});
    },

    selectHandler(payload) {
      let {index, e} = payload;
      this.updateJsonData({index, value: e.target.selectedIndex - 1, module: 'generalFields'});
    },

    programSelectHandler(payload) {
      this.selectHandler(payload);
      //TODO: ЗАГЛУШКА ПОТОМ УБРАТЬ!!!!!!!!!!!!
      this.getProgramData({programName: 'Имитационное моделирование в среде виртуального предприятия', index: payload.index - 1});
    },

    getSelectFieldOptions(field) {
      switch (field.id) {
        case 'scienceLeader': return this.convertScienceLeaders(this.scienceLeaders);
        case 'programName': return this.programsNames;        
        default: return field.options;
      }
    },
    getSelectFieldHandler(field) {
      switch(field.id) {
        case 'programName': return this.programSelectHandler;
        default: return this.selectHandler;
      }
    },
    convertScienceLeaders(scienceLeaders) {
      let scienceLeadersArray = scienceLeaders.map((scienceLeader) => {
        return `${scienceLeader.position} ${scienceLeader.name}`;
      });
      return scienceLeadersArray;
    },
    ...mapMutations(['updateJsonData', 'checkField', 'updateVariableDiscipines', 'updateAdditionalCourses']),
    ...mapActions(['getProgramData'])
  },
  components: {
    GeneralFields
  }
};
</script>

<style lang="css" scoped>
</style>
