<template>
  <div class="container">
    <div v-if="firstStep">
      <GeneralInfo :data="generalFields"/>
      <AdditionalInfo :data="additionalFields"/>
    </div>
    <div v-else-if="secondStep">
      <Row>
        <h2>Выберите формат выгружаемого файла:</h2>
          <div class="col s2 offset-s3">
            <button @click="sendPDFRequest">
              <img class="responsive-img" src="~/img/pdf.png" alt="Выгрузка в формате pdf">
            </button>
          </div>
          <div class="col s2 offset-s1">
            <button @click="sendDOCXRequest">
              <img class="responsive-img" src="~/img/docx.png" alt="Выгрузка в формате docx">          
            </button>
          </div>
      </Row>
    </div>
    <Row>
      <Button v-if="firstStep" id="nextButton" :clickHandler="validate">Далее</Button>
      <Button v-if="secondStep" id="prevButton" :clickHandler="prevStep">Назад</Button>
    </Row>
    <div>
      <ModalAlert
        id="formValidationModal"
        :show="showValidationModal"
        :closeHandler="closeModal"
      >
        <span slot="header">Есть незаполненные поля!</span>
        <span slot="body">Необходимо заполнить поля формы, подчеркнутые красным!</span>
      </ModalAlert>
    </div>
  </div>
</template>

<script>
import GeneralInfo from './GeneralInfo.vue';
import AdditionalInfo from './AdditionalInfo.vue';
import { mapState, mapMutations, mapActions } from 'vuex';
export default {
  computed: {
    firstStep() {
      return this.formStep === 1;
    },
    secondStep() {
      return this.formStep === 2;
    },
    generalFields() {
      return this.jsonData.generalFields;
    },
    additionalFields() {
      return this.jsonData.additionalFields;
    },
    ...mapState(['showValidationModal','jsonData', 'formStep'])
  },
  methods: {
    sendDOCXRequest() {
      this.sendFormData('docx');
    },
    sendPDFRequest() {
      this.sendFormData('pdf');
    },
    validate() {
      this.validateForm();
    },
    prevStep() {
      this.setValue({id: 'formStep', value: 1});
    },
    closeModal() {
      this.toggle('showValidationModal');
    },
    ...mapMutations(['toggle', 'validateForm', 'setValue']),
    ...mapActions(['sendFormData'])
  },
  components: {
    GeneralInfo,
    AdditionalInfo
  }
};
</script>

<style>
  #prevButton {
    margin: 10% 0 0 0;
  }
</style>

