<template>
  <div>
    <Plans v-if="isGeneratedPlans || isBasePlans" :planType="planType" :plans="plans" />
    <ScienceLeaders v-if="isScienceLeaders" :scienceLeaders="adminActions.scienceLeaders"/>
    <AdditionalCourses v-if="isAdditionalCourses" :additionalCourses="adminActions.additionalCourses" />
    <SystemConfiguration v-if="isSystemConfiguration" />
    <StaticTemplates v-if="isStaticTemplates"/>
  </div>
</template>

<script>
import Plans from './AdminActions/Plans.vue';
import ScienceLeaders from './AdminActions/ScienceLeaders.vue';
import AdditionalCourses from './AdminActions/AdditionalCourses.vue';
import SystemConfiguration from './AdminActions/SystemConfiguration.vue';
import StaticTemplates from './AdminActions/StaticTemplates.vue';
import { mapState, mapActions, mapMutations } from 'vuex';

export default {
  beforeMount() {
    this.sendAdminActionDataRequest(this.selectedAction);
  },
  props: {
    selectedAction: {
      type: String,
      default: ''
    }
  },
  computed: {
    plans() {
      let { adminActions } = this;
      return this.planType === 'base' ? adminActions.basePlans : adminActions.generatedPlans;
    },
    formFields() {
      let { adminActions } = this;
      return adminActions.formFields || {};
    },
    isFormFields() {
      return this.selectedAction === 'formFields';
    },
    isGeneratedPlans() {
      return this.selectedAction === 'generatedPlans';
    },
    isBasePlans() {
      return this.selectedAction === 'basePlans';
    },
    isScienceLeaders() {
      return this.selectedAction === 'scienceLeaders';
    },
    isAdditionalCourses() {
      return this.selectedAction === 'additionalCourses';
    },
    isSystemConfiguration() {
      return this.selectedAction === 'changeSystemConfiguration';
    },
    isStaticTemplates() {
      return this.selectedAction === 'changeStaticTemplate';
    },
    planType() {
      return this.selectedAction.split('P')[0];
    },
    ...mapState(['adminActions'])
  },
  methods: {
    ...mapActions(['sendAdminActionDataRequest'])
  },
  components: {
    Plans,
    ScienceLeaders,
    AdditionalCourses,
    SystemConfiguration,
    StaticTemplates,
  }
}
</script>

<style>
  .toMenuBtn {
    margin-top: 20px;
  }
</style>
