<template>
  <div>
    <Row>
      <div class="col s12 center-align">
        <h2>Вход в административную панель</h2>
      </div>
    </Row>
    <Row addClass="authorization-block">
      <div class="col s12">
        <TextFieldDiv
          id="login"
          labelText="Логин"
          :offset=4
          :inputHandler="inputHandler"
        />
      </div>
      <div class="col s12">
        <Passfield 
          id="password"
          labelText="Пароль"
          :offset=4
          :inputHandler="inputHandler"    
        />
      </div>
      <div class="col s12">
        <Button :offset=4 :clickHandler="logIn">Авторизация</Button>
      </div>
    </Row>
  </div>
</template>

<script>
import { mapActions, mapMutations } from 'vuex';
export default {
  methods: {
    inputHandler({e}) {
      this.setValue({id: e.target.id, value: e.target.value, module: 'authorization'});
    },
    ...mapMutations(['setValue']),
    ...mapActions(['logIn'])
  }
}
</script>

<style>
  .authorization-block {
    margin-top: 10%;
  }
</style>
