<template>
    <div>
      <MenuAction
        v-for="(actionTitle, actionId, index) in menuActions"
       :id="actionId"
       :title="actionTitle"
       :key="`MenuAction${index}`"
       :clickHandler="actionClickHandler"
      />
    </div>
</template>

<script>
import { mapMutations } from 'vuex';
import MenuAction from '../../components/admin/MenuAction.vue';

export default {
  props: {
    menuActions: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    actionClickHandler(actionId) {
      this.setValue({id: 'adminAction', value: actionId});
    },
    ...mapMutations(['setValue'])
  },
  components: {
    MenuAction
  }
}
</script>

<style>

</style>