<template>
  <div class="container">
    <Authorization v-if="!logged"/>
    <div v-else>
      <Navbar :title="navbarTitle" :showHomeBtn="!isHome" :onHomeBtnClick="returnToMenu" />
      <MainMenu v-if="logged && isHome" :menuActions="adminActions"/>
      <AdminActions v-else-if="!isHome" :selectedAction="adminAction"/>
    </div>
    <div>
      <ModalConfirm
        id="removeElementModal"
        :show="showRemoveElementModal"
      >
        <span slot="header">Подтвердите удаление</span>
        <span slot="body">Вы уверены, что хотите удалить выбранный элмент?</span>
      </ModalConfirm>
    </div>
  </div>
</template>

<script>
import Authorization from './Authorization.vue';
import MainMenu from './MainMenu.vue';
import AdminActions from './AdminActions.vue';
import { mainMenu } from 'config/admin.js';
import { mapState, mapMutations, mapActions } from 'vuex';

export default {
  beforeMount() {
    this.checkAuthorization();
  },
  data() {
    return {
      adminActions: mainMenu.adminActions
    };
  },
  computed: {
    isHome() {
      return this.adminAction === 'home';
    },
    navbarTitle() {
      switch (this.adminAction) {
        case 'home':
          return 'Административная панель';
        default: return this.adminActions[this.adminAction];
      }
    },
    ...mapState(['logged', 'adminAction', 'showRemoveElementModal'])
  },
  methods: {
    returnToMenu() {
      this.setValue({id: 'adminAction', value: 'home'})
    },
    ...mapMutations(['setValue']),
    ...mapActions(['checkAuthorization'])    
  },
  components: {
    Authorization,
    MainMenu,
    AdminActions
  }
}
</script>

<style>

</style>
